<div class="header__navbar">
    <nav class="navbar">
        <div class="navbar__brand">
            Treviso, ITALY
        </div>
        <div class="navbar__list">
          <ul>
            <li><a href="#about"><i class="material-icons">info</i> About</a></li>
            <li><a href="#Whattodo"><i class="material-icons">star</i> What to do</a></li>
            <li><a href="#Contact"><i class="material-icons">contact_phone</i> Contact Us</a></li>
          </ul>
      </div>
    </nav>
  </div>