
@use "sass:color";

$font-family-sans-serif: "Georgia", "Times New Roman", serif;

$primary-blue: #055fd3;       // Lighter blue
$secondary-blue: #034293;     // Darker blue
$text-color: #333;            // Dark text color
$background-light: #f5f5f5;  // Light blue background
$background-dark: #021f44;  // Dark blue background
$navbar-brand-text:#f5f5f5; //Text color for the navigation bar
$footer-background:#03316d;


/*Varibles used by the gradient-background function*/

$background-color1: #f7f9dd; // Tomato
$background-color2: #a7f7af; // Steel Blue





